 <div class="tabs">
 
 	<div class="container-fluid">
 
		<div class="row">
			 <ul class="scardHeader" id="sourceDockMenu">
				<li class="optionSpan"><a href="#propositions">Propositions</a><div id="propositionsLoader" class="loader" style="visibility: hidden;"></div></li>
				<li class="optionSpan"><a href="#propositions2">Propositions2</a><div id="propositions2Loader" class="loader" style="visibility: hidden;"></div></li>
				<li class="optionSpan"><a href="#attributes">Attributes</a><div id="attributesLoader" class="loader" style="visibility: hidden;"></div></li>
			</ul>
		</div>
		
		<div id="propositions" class="row">
		 
		 	<div id="sourcePropositionsDockOptions" class="col">
			 	<div class="row">
			 		<div class="col no-gutters">
					 	<button class="btn-outline-secondary" type="button" id="clearPropositionSelection">Clear selection</button>
			 		</div>
			 	</div>
			 	<div class="row">
			 		<div class="col-xl-12 no-gutters">
	 					<label>
	 						<input type="checkbox" id="selectedPatternCheckboxPropositions" checked="checked">Use selected pattern
		 					&nbsp;<i class="fa fa-question-circle" style="font-size: 15px;" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Use the pattern selected in the work dock to rerank propositions"></i>
	 						</label>
			 		</div>
			 		<div class="col-xl-12 no-gutters">
	 					<label>
	 						<input type="checkbox" id="addIndividualCheckboxPropositions">Add as singleton
		 					&nbsp;<i class="fa fa-question-circle" style="font-size: 15px;" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="If selected, creates multiple patterns when dragging elements to the work dock"></i>
	 					</label>
			 		</div>
			 	</div>
			 	<div class="row">
			 		<div class="col no-gutters">
					 	<select id="measureSelect" class="chosen-select">
					 		<option value="support">support</option>
					 	</select>
			 		</div>
			 	</div>
			 	<div class="row">
					<div class="col-md-5 no-gutters">
						Attribute
						<br>
						<input type="text" name="attributeInput"></input>
					</div>
					<div class="col-md-5 no-gutters">
						Proposition
						<br>
						<input type="text" name="propositionInput"></input>
					</div>
					<div class="col-md-2 no-gutters">
						Score
						<br>
						<input type="text" name="scoreInput"></input>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="row">
					<div id="SourcePropositionsDock" class="dock sourceDock">
						<div id="SourcePropositionsDockTable">
						</div>
					</div>
				</div>
			</div>
			 
		</div>
		
		 <div id="propositions2" class="row">
		 
		 	<div id="sourcePropositionsDockOptions2" class="col">
			 	<div class="row">
			 		<div class="col no-gutters">
					 	<button class="btn-outline-secondary" type="button" id="clearPropositionSelection">Clear selection</button>
			 		</div>
			 	</div>
			 	<div class="row">
			 		<div class="col-xl-12 no-gutters">
	 					<label>
	 						<input type="checkbox" id="selectedPatternCheckboxPropositions" checked="checked">Use selected pattern
		 					&nbsp;<i class="fa fa-question-circle" style="font-size: 15px;" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Use the pattern selected in the work dock to rerank propositions"></i>
	 						</label>
			 		</div>
			 		<div class="col-xl-12 no-gutters">
	 					<label>
	 						<input type="checkbox" id="addIndividualCheckboxPropositions">Add as singleton
		 					&nbsp;<i class="fa fa-question-circle" style="font-size: 15px;" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="If selected, creates multiple patterns when dragging elements to the work dock"></i>
	 					</label>
			 		</div>
			 	</div>
			 	<div class="row">
			 		<div class="col no-gutters">
					 	<select id="measure1Select" class="chosen-select">
					 		<option value="support">support</option>
					 	</select>
			 		</div>
			 	</div>
			 	<div class="row">
			 		<div class="col no-gutters">
					 	<select id="measure2Select" class="chosen-select">
					 		<option value="support">support</option>
					 	</select>
			 		</div>
			 	</div>
			</div>
			
			<div class="col">
				<div class="row">	
					<div id="SourcePropositionsDock2" class="dock sourceDock">
					</div>
				</div>
			</div>
			 
		</div>
			
		<div id="attributes" class="row">
		
			<div id="sourceAttributesDockOptions" class="col">
			 	<div class="row">
			 		<div class="col no-gutters">			 	
				 		<button class="btn-outline-secondary" type="button" id="clearAttributeSelection">Clear selection</button>
			 		</div>
			 	</div>
			 	<div class="row">
			 		<div class="col no-gutters">
	 					<label><input type="checkbox" id="addIndividualCheckboxAttributes">Add as singleton?</label>
			 		</div>
			 	</div>
			</div>
		
			<div class="col">
				<div class="row">
					<div id="SourceAttributesDock" class="dock sourceDock">
						<div id="SourceAttributesDockTable">
						</div>
					</div>
				</div>
			</div>
				
		</div>
		
	</div>
		
</div>
 