<div id="subMenu" class="row globalMenuBar">
	<div class="col-md">
		<ul class="sm sm-clean menu" id="optionMenu">
			<li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Worksheet settings" id="worksheetSettingsButton"><i class="fa fa-cogs"></i></li>
			<li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Save patterns" id="savePatternsButton"><i class="fa fa-save"></i></li>
			<li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Download patterns" id="downloadPatternsButton"><i class="fa fa-download"></i></li>
			<li class="divider"></li>
			<li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Measures" id="measureOptionButton"><i class="fa fa-poll"></i></li>
			<li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Visualizations" id="visualizationOptionButton"><i class="fa fa-chart-area"></i></li>
			<li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Miners" id="minerOptionButton"><a><i class="fa fa-hammer"></i></a><li>
			<li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Pattern collection based post processors" id="patternCollectionPostProcessorOptionButton"><a><i class="fa fa-wrench"></i></a></li>
		</ul>
	</div>
</div>

<!-- Modal for measures -->
<div class="modal fade centerModal" id="measureModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content -->
		<div class="modal-content">
			<div style="height: auto !important;" class="modal-header menuBar shadow-z-2">
				<div class="modal-title">Measures</div>
				<button type="button" class="close pullRight" data-dismiss="modal" style="width: 10px !important;">&times;</button>
			</div>
			<div class="container-fluid">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<button type="button" class="btn-outline-secondary" id="measuresDeselectAll">Deselect all</button>
						</div>
						<div class="col-md-6">
							<button type="button" class="btn-outline-secondary" id="measuresSelectAll">Select all</button>
						</div>
					</div>
					<div class="panel-body" id="Measurements"></div>
				</div>
				<div class="modal-footer">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<button type="button" class="btn-outline-danger" data-dismiss="modal">Cancel</button>
							</div>
							<div class="col-md-6">
								<button type="button" class="btn-outline-success" data-dismiss="modal" onclick="globalController.saveMeasureActivity('#Measurements');">Save &amp; Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal content -->  
	</div>
</div>
<!-- End modal for measures -->

<!-- Modal for visualizations -->
<div class="modal fade centerModal" id="visualizationModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content -->
		<div class="modal-content">
			<div style="height: auto !important;" class="modal-header menuBar shadow-z-2">
				<div class="modal-title">Visualizations</div>
				<button type="button" class="close pullRight" data-dismiss="modal" style="width: 10px !important;">&times;</button>
			</div>
			<div class="container-fluid">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<button type="button" class="btn-outline-secondary" id="visualisationDeselectAll">Deselect all</button>
						</div>
						<div class="col-md-6">
							<button type="button" class="btn-outline-secondary" id="visualisationSelectAll">Select all</button>
						</div>
					</div>
					<div class="panel-body" id="Visualizations"></div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<button type="button" class="btn-outline-danger" data-dismiss="modal">Cancel</button>
						</div>
						<div class="col-md-6">
							<button type="button" class="btn-outline-success" data-dismiss="modal" onclick="globalController.saveVisualizationActivity('#Visualizations');">Save &amp; Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal content -->  
	</div>
</div>
<!-- End modal for visualizations -->
