<div id="tabs" class="tabs">
	<div class="container-fluid">
		<div class="row">
			<ul class="scardHeader">
				<li class="optionSpan"><a href="#tabs-1">Workspace info</a></li>
				<li class="optionSpan"><a href="#tabs-2">Output log</a></li>
			</ul>
		</div>
		<div id="tabs-1" class="row infoView">
		</div>
		<div id="tabs-2" class="row infoView">
			<div class="col">
				<div id="outputLog"></div>
			</div>
		</div>
	</div>
</div>
