<div class="row" style="height: 100%;">
	<div class="dock droppable-workdock" id="WorkDock">
		<table id="WorkDockTable">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th>Pattern</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>		    
	</div>
</div>
