<div class="row ui-widget-content padded">

	<div class="col">
	
		<div class="container-fluid" id="generalOptions">
		
			<div class="row data-row">
				<div class="col-md-3 data-label">
					Caption*:
				</div>
				<div class="col-md-9">
					<input type="text" class="form-control floating-label" id="worksheetCaption" placeholder="Name of the worksheet" autocomplete="off" data-required>
				</div>
			</div>
			
			<div class="row data-row">
				<div class="col-md-3 data-label">
					Description:
				</div>
				<div class="col-md-9">
					<input type="text" class="form-control floating-label" id="worksheetDescription" placeholder="Description of the worksheet" autocomplete="off">
				</div>
			</div>
			
			<div class="row data-row">
				<div class="col-md-3 data-label">
					DataTable*:
				</div>
				<div class="col-md-9">
					<select class="chosen-select" id="dataTableSelect" data-required></select>
				</div>
			</div>
			
			<div class="row data-row">
				<div class="col-md-3 data-label">
					Scheme*:
				</div>
				<div class="col-md-9">
					<select class="chosen-select" id="schemeSelect" data-required></select>
				</div>
			</div>
			
		</div>
		
		<div class="row">
		</div>
		
		<div class="row"  id="worksheetOptions" style="display: none;">
		
			<div class="container-fluid">
		
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-9">
						<span class="title">Worksheet options</span>
					</div>
				</div>
					
				<div class="row">
				
					<div class="col-md-12" id="dataTableOptionsList">
					
						<div class="container-fluid" id="discretizationOptions">
							<div class="row data-row parameterHelp"
									parameterName="Discretization" 
									parameterHelp="Sets the procedure of how to map numeric values to categorical ones"
									parameterHint="Choose a discretization method and set the number of bins">
								<div class="col-md-3">
									Discretization:
								</div>
								<div class="col-md-9">
									<select class="chosen-select" id="discretization" data-required>
										<option value="EQUIDISTANT">Equi-distant</option>
										<option value="EQUIFREQUENT">Equi-frequent</option>
										<option value="CLUSTERING">Clustering based</option>
									</select>
								</div>
							</div>
							<div class="row data-row parameterHelp"
									parameterName="Number of bins" 
									parameterHelp="Sets the number of bins each numerical value is divided in"
									parameterHint="Choose a positive number larger than 1" id="numberOfBinsSpan">
								<div class="col-md-3 data-label">
									Number of bins:
								</div>
								<div class="col-md-9">
									<input type="number" value="5" step="1" min="2" id="numberOfBins" autocomplete="off" data-required>
								</div>
							</div>
							<div class="row data-row parameterHelp"
									parameterName="Number of cut-off points" 
									parameterHelp="Sets the number of cut-off points used for clustering"
									parameterHint="Choose an element from the list" id="numberOfCutOffPointsSpan" style="display: none;">
								<div class="col-md-3 data-label">
									Number of cut-off points:
								</div>
								<div class="col-md-9">
									<select class="chosen-select" id="numberOfCutOffPoints">
										<option value="2">2</option>
										<option value="4">4</option>
										<option value="6">6</option>
										<option value="8">8</option>
										<option value="10">10</option>
										<option value="12">12</option>
										<option value="14">14</option>
										<option value="16">16</option>
										<option value="18">18</option>
										<option value="20">20</option>
									</select>
								</div>
							</div>
						</div>
						
						<div class="container-fluid" id="dataTableOptions">
							<div class="row data-row parameterHelp"
									parameterName="Sequential data table" 
									parameterHelp="Indicates if the data table should be converted to a table of sequences. 
									
										If yes, then the 'id' attribute is used to group all transactions from the same sequence and the 'distance' attribute defines a preference relation between the transactions."
									parameterHint="Check if the data table should be converted">
								<div class="col-md-3 data-label">
									Data type:
								</div>
								<div class="col-md-9">
									<select class="chosen-select schemeOption" id="dataTableType">
										<option value="DataTable">Data table</option>
										<option value="SequentialDataTable">Sequential data table</option>
										<option value="Sequence">Sequence</option>
									</select>
								</div>
							</div>
						</div>
						
						<div class="container-fluid" id="sequentialDataTableOptions">
							<div class="row data-row parameterHelp"
									parameterName="Id attribute" 
									parameterHelp="Sets the attribute that is used to group transactions of the same sequence"
									parameterHint="Select a categorical attribute">
								<div class="col-md-3 data-label">
									Id attribute*:
								</div>
								<div class="col-md-9">
									<select class="chosen-select" id="idAttribute" data-required>
									</select>
								</div>
							</div>
							<div class="row data-row parameterHelp"
									parameterName="Distance attribute" 
									parameterHelp="Sets the attribute that is used to order the transactions in the sequence"
									parameterHint="Select a numerical/date attribute">
								<div class="col-md-3 data-label">
									Distance attribute*:
								</div>
								<div class="col-md-9">
									<select class="chosen-select" id="distanceAttribute" data-required>
									</select>
								</div>
							</div>
							<div class="row data-row parameterHelp"
									parameterName="Generate single sequence" 
									parameterHelp="Indicates if all sequences should be concatenated into one. Doing so will remove existing time stamps"
									parameterHint="Check or uncheck.">
								<div class="col-md-3 data-label">
									Generate single sequence*:
								</div>
								<div class="col-md-9">
									<input type="checkbox" id="generateSingleSequence" data-required>
								</div>
							</div>
						</div>
					
					</div>
					
				</div>
				
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-9">
						<button class="btn-outline-secondary" id="createWorksheetButton">Create worksheet</button>
					</div>
				</div>
				
							
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-9">
						<div id="parameterHelpBox" class="sCard padded boxed"></div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-9">
						<span id="createSuccessMessage" class="successMessage" style="display: none;">
							Worksheet created successfully! The new worksheet will now be loaded...
						</span>
						<span id="createFailMessage" class="failMessage" style="display: none;">
							An error occurred while creating the worksheet!
						</span>
					</div>
				</div>
				
				<div class="row" id="dataView">
				</div>
				
			</div>
			
		</div>
	
	</div>
	
</div>
