<div id="workDockMenu" class="row subMenuBar" style="height: 100%;">
	<div class="col-md-8">
		<ul class="sm sm-clean menu">
			<li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Pattern based post processors" id="patternPostProcessorOptionButton"><a><i class="fa fa-screwdriver"></i></a></li>
			<li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Delete selected" id="clearSelectedPatternsButton"><i class="fa fa-trash"></i></li>
			<li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Delete all" id="clearAllPatternsButton"><i class="fa fa-dumpster"></i></li>
			<!-- <li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Filter patterns" id="filterPatternsButton"><i class="fa fa-filter"></i></li> -->
			<li class="divider"></li>
			<li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Copy to clipboard" id="copyToClipboardButton"><i class="fa fa-clipboard"></i></li>
			<li class="optionSpan btn-outline-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Paste from clipboard" id="pasteFromClipboardButton"><i class="fa fa-paste"></i></li>
		</ul>
	</div>
	<div class="col-md-4">
		<ul class="sm sm-clean menu">
			<li class="optionSpan pullRight"><div id="patternLoader" class="loader" style="visibility: hidden;"></div></li>
			<li class="optionSpan pullRight" id="patternPageLinks"></li>
			<li class="optionSpan pullRight btn-outline-secondary" id="redoButton" data-toggle="popover" data-placement="bottom" data-content="Redo" data-trigger="hover"><i class="fa fa-redo"></i></li>
			<li class="optionSpan pullRight btn-outline-secondary" id="undoButton" data-toggle="popover" data-placement="bottom" data-content="Undo" data-trigger="hover"><i class="fa fa-undo"></i></li>
		</ul>
	</div>
	<div class="col-md-12 container-fluid">
		<div class="row" id="filterViewContainer" style="display: none;">
			<div class="col-md-10" id="filterView"></div>
			<div class="col-md-2">
				<select class="chosen-select" id="filterTypeIdentifierSelect" style="color: black;">
					<option value="SUPER_PATTERNS">Super patterns</option>
					<option value="SUB_PATTERNS">Sub patterns</option>
					<option value="NON_SUPER_PATTERNS">Non super patterns</option>
					<option value="NON_SUB_PATTERNS">Non sub patterns</option>
				</select>
				<button class="btn-secondary" id="clearFilterViewButton">Clear filter</button>
			</div>
		</div>
	</div>
</div>
