.toolTip {
	position: absolute;
	display: none;
	min-width: 80px;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 2px gray;
	padding: 14px;
	text-align: center;
	z-index: 1060;
}
