.sm {
	margin-left: 0px !important;
	z-index: 50;
}

.sm-clean {
	background: transparent;
}

.sm-clean a, .sm-clean a.has-submenu {
	color: white !important;
	padding: 0px;
	padding-right: 0px;
}

.sm-clean [role="group"] a {
	color: black !important;
}

.sm-clean a span.sub-arrow {
	display: none;
}

.sm.menu .divider {
	background-color: white;
	height: 40px;
	width: 1px;
}
