.dock {
	border: 1px solid gray;
}

.circle {
	width: 20px;
	height: 20px;
    -webkit-font-smoothing: antialiased;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px; 
	border: 2px solid black;
}

.square {
	width: 20px;
	height: 20px;
	border: 2px solid black;
}

.proposition {
	width: 20px;
	height: 20px;
    -webkit-font-smoothing: antialiased;
}

.emptyItem {
	font-size: 20px;
	width: 20px;
	height: 20px;
}

.propositionContainer {
	font-size: 12px;
	margin-left: 5px;
	margin-right: 5px;
}
.sourcePropositionContainer {
}

.workPropositionContainer {
	height: 80px;
	max-height: 80px;
	overflow: hidden;
	float: left;
}

.attributeContainer {
	font-size: 12px;
}

.combiner {
	line-height: 100%;
	font-size: 35px;
	overflow: hidden;
	display: inline-flex;
	margin-bottom: auto;
	margin-top: auto;
}

.selectedDescriptor {
	background-color: yellow;
}

.sourceDock {
	width: 100%;
	height: 722px;
	overflow-x: scroll;
}

#WorkDock {
	width: 100%;
	height: 810px;
	overflow: scroll;
	z-index: 0;
}

#WorkDock input[type=submit] {
    margin-top:10px;
}

#workDockMenu .sm {
	z-index: 49;
}

#WorkDockTable {
	text-align: center;
}

#WorkDockTable tr:nth-child(even) {
    background-color: #EEEEEE;
}

.pattern tr {
    background-color: inherit !important;
}

.pattern {
	min-height: 80px;
}

#WorkDockTable th:nth-child(4) {
    width: 100%;
}

#WorkDockTable th {
    background-color: #DDDDDD;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	white-space: nowrap;
}

#WorkDockTable td {
	padding-left: 10px;
	padding-right: 10px;
}

#WorkDockTable .chart img {
	height: 80px;
}

#SourceDockTable .selected{
	background-color: yellow;
}

.chartBasket {
	min-width: 200px;
	/* overflow-x: scroll; */
	float: right;
}

.patternOptions {
	display: inline-flex;		
    transform: scale(.75);
}

.patternOptions div {
	padding-right: 5px;
}

.patternOptions .btn:hover {
	box-shadow: 2px 2px 2px grey;
}

.stub {
	display: inline-flex;
	width: 15px;
}

.stub:first-child {
	width: 20px;
}

.elContainer {
	display: flex;
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
	min-width: 50px;
	padding:5px;
	white-space: nowrap;
	z-index: 1;
}

.buildElement.emptyElement {
	border: 2px dotted lightgray;
	height: 20px;
	min-height: 20px;
	max-height: 20px;
	margin-left: 5px;
}

.buildElement.emptyElement.selected {
	border: 2px dotted blue;
	box-shadow: 0px 0px transparent;	
}


.buildElement {
	border: 1px solid black;
	border-radius: 3px;
	cursor: pointer;
	margin: auto 5px auto 5px;
	min-height: 30px;
	min-width: 50px;
	padding: 5px 5px 5px 5px !important;
	position: relative;
	z-index: 1;
}

.buildElement:hover {
	box-shadow: 2px 2px 2px gray;
}

.buildElement.selected {
	border: 1px solid red;
	stroke-width: 2px;
	stroke: red;
}

.buildElement .deleteButton {
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    height: 20px;
	position: absolute;
    right: -10px;
    top: -10px;
    visibility: hidden;
    width: 20px;
    z-index: 2;
}

.buildElement .deleteButton i {
	font-size: 15px;
	line-height: 18px;
}

.elContainer.selected {
	border: 1px solid blue;
}

.buildElement.combiner, .buildElement.selected.combiner {
	border:none;
	padding: 0px 0px 0px 0px !important;
}

.sourceDock .buildElement {
	font-size: 12px;
	margin: 5px 5px 5px 5px;
}

.sourceDock .buildElement div {
	padding: 0px 2px 0px 2px;
	word-wrap: break-word;
}

.infoView {
	height: 150px;
}

#footer {
	height: 20px;
	min-height: 20px;
	line-height: 20px;
}

.extensionDescriptor {
	width: 15px;
	min-height: 50px;
	display: inline-flex;
}

.extensionDescriptor:first-child {
	width: 20px;
}

.extensionDescriptor:last-child {
	flex-grow: 1;
}

#dataView {
	overflow: scroll;	
}

#parameterHelpBox:empty {
	display: none;
}

.inspectAttribute {
	z-index: 10;
}

.legendItem {
	display: inline-block;
	height: 100%;
	width: 15px;
}

.population {
	background-color: #4763ff;
}
.subgroup {
	background-color: #ff6347;
}

#inspectionModal .tableCell {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
}

.patternDrag {
	cursor: pointer;
}

#worksheetDelete, #worksheetAdd {
	cursor: pointer;
}

.sourceDock .material-icons {
	font-size: 20px;
}

.sourceDock .selected .showOnParentHover {
	visibility: visible !important;
}

#WorkDockTable tr:hover .showOnAncestorHover, #inspectionModal *:hover .showOnAncestorHover {
	visibility: visible !important;
}

#worksheetsSelect_chosen {
	height: 90%;
}

#worksheetsSelect_chosen .chosen-single {
	height: 100%;
}

#filterViewContainer {
	color: black;
	padding: 5px 5px 5px 5px;
}

#filterView {
	background-color: white;
	height: 100%;
	min-height: 80px;
}

rect.selected {
	stroke: red !important;
}

#propositionsLoader, #propositions2Loader, #attributesLoader {
	display: inline-block;
}

.userTable {
	width: 100%;
}

.userTable thead {
	border-bottom: 1px solid rgb(1, 84, 133);
}

.userTable td {
	padding: 5px;
}

.userTable th:not(:first-child), .userTable td:not(:first-child) {
	text-align: center;	
}
