html, body {
	width: 100%;
	min-width: 1000px;
	
	height: 100%;
	min-height: 750px;	
}

body {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	margin: 0;
    padding-right: 0px;
    padding-left: 0px;
}

#mainContent {
	width: 100%;
	height: calc(100%);
}

.subContent {
	width:100%;
	height: 150px;
	table-layout: fixed;
}

.hcentered {
	margin-left: auto;
	margin-right: auto;
}

.vcentered {
	margin-top: auto;
	margin-bottom: auto;
}

.centeredText {
	text-align: center;
}

.pullRight {
	float: right !important;
}

table {
	border-collapse: collapse;
}

.pointerStyleCursor {
	cursor: pointer;
}

.optionBoxContainer {
	padding: 10px;
    display: inline-block;
}

.globalMenuBar {
	color: white;
	background-color: rgb(1, 84, 133);
	min-height: 40px;
}

.subMenuBar {
	color: white;
	background-color: rgb(1, 84, 133);
	min-height: 40px;
}

.globalMenuBar .optionSpan, .subMenuBar .optionSpan {
	height: 40px;
}

.subMenuBar {
	color: white;
	background-color: rgb(1, 84, 133);
	height: 40px;
}

.globalMenuBar .optionSpan, .subMenuBar .optionSpan {
	height: 40px;
}

.globalMenuBar .material-icons, .subMenuBar .material-icons, .globalMenuBar .fa, .subMenuBar .fa {
	color: white
}

.menuBar {
	color: white;
	background-color: rgb(2, 102, 162);
}

.subMenuBar {
	color: white;
	background-color: rgb(2, 102, 162);
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

:focus {
	outline: 0;
}

li.optionSpan {
	cursor: pointer;
    display: block;
    float: left;
    margin: 0px 5px 0px 5px;
    padding: 10px;
    position: relative;
}

li.optionSpan label {
	font-size: 10px;	
}

li.optionSpan .fa, .menuIcon .fa {
	font-size: 13px;
}

li.optionSpan.selected {
	border: 1px solid white;
}

li.selectedOptionSpan:after {
    content:"";
    border-left: 10px solid transparent;
    border-right: 11px solid transparent;
    border-top: 13px solid rgb(16,108,200);
    position: absolute;
    bottom: -10px;
    width: 0px;
    left: 50%;
    margin-left: -10px;
}

.subhead {
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
}

.modal-title {
	font-size: large;
}

.modal, .modal-backdrop {
    position: absolute !important;
}

.modal-dialog {
	background: white;
}

.largeInputModal, .largeCenterModal {
	height: 100%;
	width: 100%;
	overflow: visible !important;
}

.largeInputModal .panel {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.largeCenterModal .panel {
	height: calc(100% - 90px);
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 0px;x
}

.largeInputModal .modal-dialog {
	height: 100%;
	width: 60%;
	min-width: 700px;
	margin: 0px 0px 0px auto;
	box-shadow: -20px 0px 20px 0 rgba(0, 0, 0, 0.2);
}

.largeCenterModal .modal-dialog {
	height: 80%;
	width: 80%;
	min-width: 500px;
	margin: 10% 10%;
	box-shadow: -20px 0px 20px 0 rgba(0, 0, 0, 0.2);
}

.progress {
	margin-top: 20px;
	height: 10px;
}

label {
	cursor: pointer;
}

.margined {
	margin: 5px 5px 5px 5px !important;
}

.scard {
	padding: 5px 5px 5px 5px;
}

.scardHeader {
	color: white;
	background-color: rgb(2, 102, 162);
	padding: .2em .2em .2em .2em !important;
	min-height: 40px;
	width: 100%;
}

.row {
	min-height: 40px;
/* 	margin-right: 0;
	margin-left: 0;
 */}
/* .row > [class^="col-"],
.row > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}
 */
.bannerText {
	letter-spacing: 2px;
}

.bannerLogo {
	margin-left: 10px;
	width: 40px;
	height: 40px;
}

.mainPage {
	display: table;
	width: 100%;
	height: 100%;
}

.sidebar {
	width: 300px;
	max-width: 300px;
}

.mainPageContent,
.sidebar {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.mainPageContent {
	width: calc(100% - 310px);
}

.sidebar {
	width: 300px;
}

input[type="text"], input[type="number"], input[type="file"], input[type="password"], button {
	width: 100% !important;
}

button {
	border-radius: 15px;
}

.chosen-select, .chosen-container {
	width: 100% !important;
}

button {
	cursor: pointer;
}

.ui-tabs-panel {
	padding: 0 !important;
}

.ui-widget {
	font-family: 'Quicksand', sans-serif;
}

.ui-state-default a, .ui-state-default a:link, .ui-widget-header a {
	color: white !important;
}

.ui-state-default {
	background-color: rgb(2, 102, 162) !important;
	border: none !important;
}

.ui-state-active {
	background-color: rgb(1, 84, 133) !important;
	border: none !important;
}

.table .row {
	border-bottom: 1px solid black;
	line-height: 40px;
}

.loader {
  border: 3px solid #ffffff;
  border-radius: 50%;
  border-top: 3px solid #0079BF;
  border-bottom: 3px solid #0079BF;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.flexDisplay {
	display: flex;
}

.padded {
	padding: 5px 5px 5px 5px;
}

.failMessage {
	color: red;
}

.successMessage {
	color: green;
}

.previewTable th {
	background-color: rgb(2, 102, 162);
}

.previewTable td, .previewTable th  {
	border: 1px solid gray;
	padding: 5px;
	white-space: nowrap;
}

.previewTable input, .previewTable select {
	color: black;
}

/* .previewTable input[type="checkbox"] {
	width: 100%;
} */

.noPadding {
	padding: 0px 0px 0px 0px;
}

.infoBlock {
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 3px 3px 3px lightgray;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

.boxed {
	border: 1px solid gray;
	border-radius: 5px;
}

.title {
	font-weight: bold;
	text-decoration: underline;
}

.subTitle {
	font-weight: bold;
}

.droppable {
	background-color: lightgray !important;
}

.pageLinks i {
	color: gray;
}

.pageLinks i[href] {
	color: white;
	cursor: pointer;
}

.modal .pageLinks i {
	color: gray;
}

.modal .pageLinks i[href] {
	color: black;
}

.infoView {
	overflow-y: scroll;	
}

.table {
	display: table;
	border-collapse: collapse;
}

.tableRow {
	display: table-row;
}

.tableCell {
	display: table-cell;
}

.tmpImg {
	border: 1px solid lightgray;
	background: white;
	position: absolute;
	left: 0px;
	top: 100px;
}

.largeChart {
	max-width: 100%;
}

.bigHovering {
	z-index: 9999;
}

.dragContainer {
	background-color: white;
	border: 1px solid gray;
	border-radius: 3px 3px 3px;
	box-shadow: 3px 3px 3px gray;
}

.showOnAncestorHover, .showOnParentHover, .showOnParentSelected {
	visibility: hidden;
}

*:hover > .showOnParentHover, .selected .showOnParentSelected {
	visibility: visible !important;
}

.shadowhover:hover {
	box-shadow: 2px 2px 2px gray;
}

.myshadow {
	box-shadow: 2px 2px 2px gray;
}

.no-gutters {
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.popover-header, .popover-body {
	background-color: white;
	color: black;
}

.popover .arrow {
	display: block;
}

.centerModal .modal-dialog, .centerModal .modal-dialog {
	width: 50%;
	min-width: 700px;
}

.infoView {
	font-size: 12px;
}

.required {
	color: red !important;
}

.messageBox {
	border: 1px solid gray;
	border-radius: 5px;
	font-weight: bold;
	color: white;
	left: calc(50% - 300px);
	position: absolute;
	top: 0px;
	width: 600px;
	z-index: 10000;
}

.mainTitle {
    background-color: rgb(2, 102, 162);
    color: white;
    line-height: 40px;
    text-align: center;
}

.boxTitle {
    background-color: rgb(174, 199, 232);
    color: white;
    line-height: 40px;
    text-align: center;
}

.boxTitle .title {
	text-decoration: none;
	font-weight: 500;
}
