<div id="globalMenu" class="globalMenuBar">
	<div class="pullRight" style="display: inline-block;">
		<span class="bannerText">SNIPER</span>
	 	<img class="bannerLogo" src="${pageContext.request.contextPath}/resources/img/mime.png">
 	</div>	
</div>
