<div class="ui-widget-content padded">
	
	<div class="container-fluid">
		
		<div class="row">
			<div class="col">
				<select class="chosen-select" id="dataTableSelect"></select>
			</div>
		</div>
		
		<div class="row" id="dataTableInfo" style="display: none;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3">
						Name:
					</div>
					<div class="col-md-9" id="dataTableCaption">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Description:
					</div>
					<div class="col-md-9" id="dataTableDescription">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<button class="btn-outline-secondary" id="createSchemeButton">Create scheme</button>
					</div>
					<div class="col-md-6">
						<button class="btn-outline-danger" id="dataTableDelete"><i class="fa fa-trash"></i></button>
						&nbsp;*This will remove all schemes and worksheets to which the data table is attached
					</div>
				</div>
			</div>
		</div>
		
	</div>
		
</div>
