<div class="ui-widget-content padded">

	<div id="mainContent" class="container-fluid">

		<div class="row">
		
			<div class="col-md-3">
				Data source:
			</div>
			
			<div class="col-md-9">
				<div class="btn-group btn-group-toggle">
					<label class="btn btn-outline-secondary active" id="uploadFileLabel">
						<input type="radio" name="uploadFrom" id="uploadFileButton" checked="checked">Upload from file
					</label>
					<label class="btn btn-outline-secondary" id="uploadSQLLabel">
						<input type="radio" name="uploadFrom" id="uploadSQLButton">Upload from SQL
					</label>
				</div>
			</div>
			
		</div>
		
		<div id="fileOptions" class="row">
		
			<div class="col">

				<form id="fileUploadForm" autocomplete="off">
				
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Name*:
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control floating-label" id="fileDataTableCaption" placeholder="Name of the data table" autocomplete="off" data-required>
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Description:
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control floating-label" id="fileDataTableDescription" placeholder="Description of the data table" autocomplete="off">
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Select file*:
						</div>
						<div class="col-md-9">
							<input type="file" id="fileToUpload" name="file" data-required>
						</div>
					</div>
					<div class="row"></div>
					<div class="row">
						<div class="col-md-3">
							* = required
						</div>
						<div class="col-md-9">
							<button class="btn-outline-secondary" type="submit">Upload</button>
						</div>
					</div>
						
				</form>
				
			</div>				
			
		</div>
		
		<div id="sqlOptions" class="row" style="display: none;">
		
			<div class="col">
		
				<form id="sqlUploadForm" autocomplete="off">
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Name*:
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control floating-label" id="sqlDataTableCaption" name="sqlDataTableCaption" placeholder="Name of the data table" autocomplete="off" data-required>
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Description:
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control floating-label" id="sqlDataTableDescription" name="sqlDataTableDescription" placeholder="Description of the data table" autocomplete="off">
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Host Name*:
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control floating-label" id="sqlHostName" name="sqlHostName" placeholder="Name of the SQL host" autocomplete="off" data-required>
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Database*:
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control floating-label" id="sqlDatabase" name="sqlDatabase" placeholder="Name of the SQL database" autocomplete="off" data-required>
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Table*:
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control floating-label" id="sqlTable" name="sqlTable" placeholder="Name of the SQL table" autocomplete="off" data-required>
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Username*:
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control floating-label" id="sqlUsername" name="sqlUsername" placeholder="Username for connecting to the SQL table" autocomplete="off" data-required>
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Password*:
						</div>
						<div class="col-md-9">
							<input type="password" class="form-control floating-label" id="sqlPassword" name="sqlPassword" placeholder="Password for connecting to the SQL table" autocomplete="off" data-required>
						</div>
					</div>
					<div class="row"></div>
					<div class="row">
						<div class="col-md-3">
							* = required
						</div>
						<div class="col-md-9">
							<button class="btn-outline-secondary" type="submit">Upload</button>
						</div>
					</div>
				
				</form>
			
			</div>
			
		</div>
		
	</div>
	
</div>
