<div class="ui-widget-content padded">
	
	<div id="mainContent" class="container-fluid">
	
		<div class="row data-row" id="dtOption">
			<div class="col-md-3 data-label">
				Data Table*:
			</div>
			<div class="col-md-9">
				<select class="chosen-select" id="dataTableSelect" data-required></select>
			</div>
		</div>
		
		<div id="options" style="display:none;">
		
			<div class="row" id="generalOptions">
			
				<div class="container-fluid">
			
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Name*:
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control floating-label" id="schemeCaption" placeholder="Name of the scheme" autocomplete="off" data-required>
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Description:
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control floating-label" id="schemeDescription" placeholder="Description of the scheme" autocomplete="off">
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Data Table Type*:
						</div>
						<div class="col-md-9">
							<select class="chosen-select" id="dataTableTypeSelect" data-required>
								<option value="dataTable">Data Table</option>
								<option value="transactions">Transactions</option>
								<option value="text">Text</option>
							</select>
						</div>
					</div>
					
				</div>
				
			</div>
			
			<div class="row" id="dataTableOptions">
			
				<div class="container-fluid">
			
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Has headers:
						</div>
						<div class="col-md-9">
							<input type="checkbox" id="dataTableHasHeaders" class="schemeOption" checked>
						</div>
					</div>
					
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Delimiter:
						</div>
						<div class="col-md-9">
							<input type="text" id="dataTableDelimiter" class="form-control floating-label schemeOption" value="," autocomplete="off">
						</div>
					</div>
					
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Date time format:
						</div>
						<div class="col-md-9">
							<input type="text" id="dataTableDateTimeFormat" class="form-control floating-label schemeOption" value="YYYY/MM/DD HH:mm:ss" autocomplete="off">
						</div>
					</div>
					
				</div>
				
			</div>
				
			<div class="row" id="transactionsOptions" style="display: none;">
			
				<div class="container-fluid">
				
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Delimiter:
						</div>
						<div class="col-md-9">
							<input type="text" id="transactionsDelimiter" class="form-control floating-label schemeOption" value="," autocomplete="off">
						</div>
					</div>
				
				</div>
				
			</div>
			
			<div class="row" id="textOptions" style="display: none;">
			
				<div class="container-fluid">
			
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Type of transactions:
						</div>
						<div class="col-md-9">
							<select class="chosen-select" id="textTypeOfTransactions">
								<option value="Transactions">Transactions</option>
								<option value="BOWTFIDF">Bag of words TF*IDF</option>
							</select>
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Recognize sentences:
						</div>
						<div class="col-md-9">
							<input type="checkbox" id="textRecognizeSentences" class="schemeOption" checked>
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Use alphabetical characters only:
						</div>
						<div class="col-md-9">
							<input type="checkbox" id="textAlphabeticalOnly" class="schemeOption" checked>
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Filter interesting Part-Of-Speech (POS):
						</div>
						<div class="col-md-9">
							<input type="checkbox" id="textFilterPOS" class="schemeOption" checked>
						</div>
					</div>
					<div class="row data-row">
						<div class="col-md-3 data-label">
							Stem tokens:
						</div>
						<div class="col-md-9">
							<input type="checkbox" id="textStemTokens" class="schemeOption" checked>
						</div>
					</div>
					<div class="row" id="textAsTransactionsOptions">
						<div class="container-fluid">
							<div class="row data-row">
								<div class="col-md-3 data-label">
									Filter by document frequency:
								</div>
								<div class="col-md-9">
									<select class="chosen-select" id="textFilterByDocumentFrequency">
										<option value="NONE">None</option>
										<option value="TOPX">Top X</option>
										<option value="MINIMUMDF">Minimum DF</option>
									</select>
								</div>
							</div>
						</div>
						<div class="container-fluid">
							<div class="row data-row">
								<div class="col-md-3">
								</div>
								<div class="col-md-3 data-label">
									Value*:
								</div>
								<div class="col-md-6">
									<input class="form-control floating-label" id="textDFFilterValue" type="number" min="0" max="99999999" value="100" autocomplete="off" data-required>
								</div>
							</div>
						</div>
					</div>
					<div class="row data-row" id="textAsBowTfIdfOptions">
						<div class="col-md-3 data-label">
							Number of bins:
						</div>
						<div class="col-md-9">
							<input class="form-control floating-label" id="textNumberOfBins" type="number" min="0" max="99999999" value="5" autocomplete="off">
						</div>
					</div>
					
				</div>
				
			</div>
			
			<div class="row"></div>
			
			<div class="row">
				<div class="col-md-3">
					* = required
				</div>
				<div class="col-md-9">
					<button class="btn-outline-secondary" id="saveScheme">Save</button>
				</div>
			</div>
			
		</div>
		
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col"  id="dataView"></div>
		</div>
	</div>
		
</div>
