<div class="ui-widget-content padded">

	<div class="container-fluid">
	
		<div class="row">
			<div class="col">
				<select class="chosen-select" id="schemeSelect"></select>
			</div>
		</div>
		
		<div class="row" id="schemeInfo" style="display: none;">
		
			<div class="container-fluid">
		
				<div class="row">
					<div class="col-md-3">
						Name:
					</div>
					<div class="col-md-9" id="schemeCaption">
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-3">
						Description:
					</div>
					<div class="col-md-9" id="schemeDescription">
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-3">
						Data Table:
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-9" id="dataTableCaption">
							</div>
							<div class="col-md-3">
								<button id="viewDataTable" class="btn-outline-secondary">View datatable</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" id="dataTableOptions"></div>
				
				<div class="row" id="transactionsOptions" style="display: none;"></div>
				
				<div class="row" id="textOptions" style="display: none;">
					<div class="row">
						<div class="col-md-3">
							Type of transactions:
						</div>
						<div class="col-md-9" id="textTypeOfTransactions">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							Recognize sentences:
						</div>
						<div class="col-md-9" id="textRecognizeSentences">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							Use alphabetical characters only:
						</div>
						<div class="col-md-9" id="textAlphabeticalOnly">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							Filter interesting Part-Of-Speech (POS):
						</div>
						<div class="col-md-9" id="textFilterPOS">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							Stem tokens:
						</div>
						<div class="col-md-9" id="textStemTokens">
						</div>
					</div>
					<div class="row" id="textAsTransactionsOptions">
						<div class="col-md-3">
							Filter by document frequency:
						</div>
						<div class="col-md-3" id="textFilterByDF">
						</div>
						<div class="col-md-1">
						</div>
						<div class="col-md-3">
							Value:
						</div>
						<div class="col-md-2" id="textDFFilterValue">
						</div>
					</div>
					<div class="row" id="textAsBowTfIdfOptions">
						<div class="col-md-3">
							Number of bins:
						</div>
						<div class="col-md-9" id="textNumberOfBins">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col" id="dataView"></div>
				</div>
				
				<div class="row"></div>
				
				<div class="row">
					<div class="col-md-12">
						<button class="btn-outline-danger" id="schemeDelete"><i class="fa fa-trash"></i></button>
						&nbsp;*This will remove all worksheets to which the scheme is attached
					</div>
				</div>
				
			</div>
			
		</div>
				
	</div>
	
</div>
