<div class="ui-widget-content padded">

	<div class="container-fluid">
	
		<div class="row">
			<span id="deleteSuccessMessage" class="successMessage" style="display: none;">
				Workspace deleted successfully!
			</span>
			<span id="deleteFailMessage" class="failMessage" style="display: none;">
				An error occurred while deleting the workspace!
			</span>
		</div>
		
		<div class="row blockContainer" id="blockContainer"></div>
	
		<div class="row">
			<div class="col">
				*This will remove all worksheets attached to the workspace
			</div>
		</div>
		
	</div>
	
</div>
