<div id="workspaceOptions" class="ui-widget-content padded">

	<div id="mainContent" class="container-fluid">
	
		<div class="row data-row">
			<div class="col-md-3 data-label">
				Name*:
			</div>
			<div class="col-md-9">
				<input type="text" class="form-control floating-label" id="workspaceCaption" placeholder="Name of the workspace" autocomplete="off" data-required>
			</div>
		</div>
		
		<div class="row data-row">
			<div class="col-md-3 data-label">
				Description:
			</div>
			<div class="col-md-9">
				<input type="text" class="form-control floating-label" id="workspaceDescription" placeholder="Description of the workspace" autocomplete="off">
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-3">
				* = required
			</div>
			<div class="col-md-9">
				<button class="btn-outline-secondary" type="submit" id="submit">Create workspace</button>
			</div>
		</div>
		
	</div>
	
</div>
