<div type="FunctionalPattern">
	<div class="flexDisplay">
		<div class="stub"></div>
		{{>graphics.attributeContainer domain}}
		<div class="stub"></div>
		<div class="combiner">&mdash;</div>
		<div class="stub"></div>
		{{>graphics.attributeContainer coDomain}}
	</div>
</div>
