<div type="ExceptionalModelPattern">
	<div class="flexDisplay">
		<div class="stub"></div>
		{{>graphics.modelType modelType}}
		<div class="stub"></div>
		{{>graphics.attributeContainer targetAttributes}}
		<div class="stub"></div>
		<div class="combiner">&mdash;</div>
		<div class="stub"></div>
		{{>graphics.propositionContainer extension}}
	</div>
</div>
