<div type="AttributeList">
	<div class="flexDisplay">
		{{>graphics.extensionDescriptor leftExtension}}
		{{>graphics.attributeContainer elements}}
		{{>graphics.extensionDescriptor rightExtension}}
	</div>
</div>
