<div class="buildElement" type="item" id="{{id}}">
	<div class="showOnParentHover deleteButton">
		<i class="material-icons">clear</i>
	</div>
	<div style="display: table;">
		<div style="display: table-row;">
			<div>{{attributeName}}&nbsp;<i class="{{attributeIcon}}"></i></div>
		</div>
			<div style="display: table-row;">
			<div>{{propositionValue}}</div>
		</div>
	</div>
</div>
