<div type="Sequence">
	<div class="flexDisplay">
		{{#insertionLists}}
			{{>graphics.sequenceExtensionContainer}}
			{{#unless @last}}
				{{>graphics.propositionContainer (lookup ../timeSets @index)}}
			{{/unless}}
		{{/insertionLists}}
	</div>
</div>
