<div type="EpisodeRule">
	<div class="flexDisplay">
		<div class="stub"></div>
	 	<div style="display: inline-block;">
			<div class="elContainer" descriptorid="{{antecedent.nodes.id}}">
			</div>
		</div>
		<div class="stub"></div>
		<div class="combiner">&#65515;</div>
		<div class="stub"></div>
		<div style="display: inline-block;">
			<div class="elContainer" descriptorid="{{consequent.nodes.id}}">
			</div>
		</div>
	</div>
</div>
