<div class="buildElement" type="attribute" id="{{id}}">
	<div class="showOnParentHover deleteButton">
		<i class="material-icons">clear</i>
	</div>
	<div style="display: table;">
		<div style="display: table-row;">
			<div>{{name}}</div>
		</div>
	</div>
</div>
