{{#equal patternDescriptor.patternType "Association"}}
	{{>graphics.association patternDescriptor}}
{{/equal}}
{{#equal patternDescriptor.patternType "AssociationRule"}}
	{{>graphics.associationRule patternDescriptor}}
{{/equal}}
{{#equal patternDescriptor.patternType "AttributeList"}}
	{{>graphics.attributeList patternDescriptor}}
{{/equal}}
{{#equal patternDescriptor.patternType "ExceptionalModelPattern"}}
	{{>graphics.exceptionalModelPattern patternDescriptor}}
{{/equal}}
{{#equal patternDescriptor.patternType "Sequence"}}
	{{>graphics.sequence patternDescriptor}}
{{/equal}}
{{#equal patternDescriptor.patternType "Episode"}}
	{{>graphics.episode patternDescriptor}}
{{/equal}}
{{#equal patternDescriptor.patternType "EpisodeRule"}}
	{{>graphics.episodeRule patternDescriptor}}
{{/equal}}
{{#equal patternDescriptor.patternType "FunctionalPattern"}}
	{{>graphics.functionalPattern patternDescriptor}}
{{/equal}}
