<div type="Association">
	<div class="flexDisplay">
		{{>graphics.extensionDescriptor leftExtension}}
		{{>graphics.propositionContainer elements}}
		{{>graphics.extensionDescriptor rightExtension}}
	</div>
</div>
