<div class="elContainer" type="item" descriptorid="{{id}}">
	{{#empty elements}}
		<div class="buildElement emptyElement"></div>
	{{else}}
		{{#elements}}
			{{>graphics.workProposition}}
		{{/elements}}
	{{/empty}}
</div>
