<div type="AssociationRule">
	<div class="flexDisplay">
		<div class="stub"></div>
		{{>graphics.propositionContainer antecedent}}
		<div class="stub"></div>
		<div class="combiner">&#65515;</div>
		<div class="stub"></div>
		{{>graphics.propositionContainer consequent}}
	</div>
</div>
