<div type="Episode">
	<div class="flexDisplay">
		{{>graphics.extensionDescriptor leftExtension}}
		<div class="elContainer" descriptorid="{{graph.nodes.id}}">
		</div>
		{{>graphics.extensionDescriptor rightExtension}}
	</div>
</div>
