{{#equal type "Text"}}
	<input class="form-control" type="text" name="{{name}}" value="{{value}}">
{{/equal}}
{{#equal type "Integer"}}
	<input class="form-control" type="number" name="{{name}}" value="{{value}}" step="1">
{{/equal}}
{{#equal type "Double"}}
	<input class="form-control" type="number" name="{{name}}" value="{{value}}" step="0.1">
{{/equal}}
{{#equal type "Checkbox"}}
	<input class="form-control" type="checkbox" name="{{name}}" value="{{value}}" {{#if checked}}checked{{/if}}>
{{/equal}}
{{#equal type "RangeEnumerable"}}
	<select class="chosen-select minerSelectParam" type="{{type}}" name="{{name}}">
		{{#each values}}
			<option {{#if selected}}selected{{/if}}>{{caption}}</option>
		{{/each}}
	</select>
{{/equal}}
{{#equal type "Subcollection"}}
	<select multiple class="chosen-select minerSelectParam" type="{{type}}" name="{{name}}">
		{{#each values}}
			<option {{#if selected}}selected{{/if}}>{{caption}}</option>
		{{/each}}
	</select>
{{/equal}}
{{#equal type "Subset"}}
	<select multiple class="chosen-select minerSelectParam" type="{{type}}" name="{{name}}">
		{{#each values}}
			<option {{#if selected}}selected{{/if}}>{{caption}}</option>
		{{/each}}
	</select>
{{/equal}}