<div class="col-md-12">
	<div class="padded">
		<div class="boxed myshadow">
			<div class="container-fluid">
				<div class="row boxTitle">
					<div class="col">
						<span class="title">
							Meta info
						</span>
					</div>
				</div>
				{{#each info}}
				 	{{#each this}}
						<div class="row">
							<div class="col-md-6">
								{{@key}}
							</div>
							<div class="col-md-6">
								{{this}}
							</div>
						</div>
					{{/each}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
{{#each visualizations}}
	<div class="col-xl-12">
		<div class="padded">
			<div class="attributeChart boxed myshadow">
				<div class="container-fluid">
					<div class="row boxTitle">
						<div class="col">
							<span class="title">
							{{capitalizeFirst this}}
							</span>
						</div>
					</div>
					{{#equal this "metricHistogram"}}
						<div class="row">
							<div class="col-sm-6">
								Number of bins:
							</div>
							<div class="col-sm-6">
								<input class="metricHistogramSpinner form-control" type="number" value="5" step="1" min="2">
							</div>
						</div>
					{{/equal}}
					<div class="row">
						<div class="{{this}}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/each}}
