<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div style="height: auto !important;" class="modal-header menuBar shadow-z-2">
				<div class="modal-title">Alert</div>
			</div>
			<div class="modal-body">
				{{this}}
			</div>
			<div class="modal-footer">
				<button class="btn btn-info btn-raised btn-xs closeButton">Close</button>
			</div>
		</div>
	</div>
</div>
