 <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div style="height: auto !important;" class="modal-header menuBar shadow-z-2">
				<div class="modal-title">{{type1}} is running, please bare with us</div>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default stopButton">Stop {{type2}}</button>
			</div>
		</div>
	</div>
</div>
  