{{#if singletons}}
	<div>
		{{#elements}}
			<div class="elContainer" style="max-height: 50px;">
				{{>graphics.workElement}}
			</div>
			<br>
		{{/elements}}
		{{#if incomplete}}
			<div style="font-weight: bold; font-size: 20px;">...</div>
		{{/if}}
	</div>
{{else}}
	<div class="elContainer">
		{{#elements}}
			{{>graphics.workElement}}
		{{/elements}}
		{{#if incomplete}}
			<div style="font-weight: bold; font-size: 20px;">...</div>
		{{/if}}
	</div>
{{/if}}
