<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-6">
				<button id="viewDataTableButton" class="btn-outline-secondary">View data table</button>
			</div>
			<div class="col-md-6">
				<button id="createSchemeButton" class="btn-outline-secondary">Create scheme</button>
			</div>
		</div>
	</div>
</div>