<table class="previewTable">
	<thead>
		<tr>
			{{#each typedAttributes}}
				<th>
					<input type="checkbox" checked>
					<br>
					<input type="text" value="{{caption}}">
					<br>
					<select class="chosen-select">
						<option value="CATEGORIC" {{#equal type "categoric"}}selected{{/equal}}>categoric</option>
						<option value="METRIC" {{#equal type "metric"}}selected{{/equal}}>metric</option>
						<option value="DATE" {{#equal type "date"}}selected{{/equal}}>date</option>
					</select>
					<br>
					<button class="btn btn-secondary" role="iconpicker"></button>
                </th>
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each rows}}
			<tr>
				{{#each this}}
					<td>{{this}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>
