<div class="container-fluid">
	<form class="parameterForm" id="{{formId}}">
		{{#each inputs}}
			<div class="row" {{#if hidden}}style="display: none;"{{/if}} parameterName="{{name}}" parameterHelp="{{description}}" parameterHint="{{solutionHint}}">
				<div class="col-sm-5 subTitle">
					{{name}}
				</div>
				<div class="col-sm-7">
					{{>ui.input}}
				</div>
			</div>
		{{/each}}
		<div class="row">
			<div class="col-sm-5"></div>
			<div class="col-sm-7">
				<button class="btn-outline-secondary {{buttonClass}}" {{#if disabled}}disabled{{/if}} data-dismiss="modal">{{action}}</button>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="container-fluid">
			<div class="boxed padded" id="parameterHelpBox"></div>
		</div>
	</div>
</div>
