<div class="modal fade centerModal" id="{{modalId}}" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="width: 1000px; max-width: 100%;">
		<!-- Modal content -->
		<div class="modal-content">
			<div style="height: auto !important;" class="modal-header menuBar shadow-z-2">
				<div class="modal-title">Inspect pattern</div>
				<button type="button" class="close pullRight" data-dismiss="modal" style="width: 10px !important;">&times;</button>
			</div>
			<div class="container-fluid">
				<div class="modal-body">
					<div id="rows" style="height: 500px; width: 100%; overflow: scroll;"></div>
				</div>
				<div class="modal-footer">
					<div class="container-fluid">
						<div class="row">
							<div id="pageLinks" style="width: 100%;"></div>
						</div>
						<div class="row">
							<button type="button" class="btn-outline-secondary {{buttonClass}}">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal content -->  
	</div>
</div>
