<div class="menu menuBar subMenuBar">
	<div class="tableCell centeredText">
		<ul id="infoDockTabs">
			{{#tabs}}
				<li class="optionSpan {{#unless @first}}selected{{/unless}}" id="{{id}}Option" data-div-id="{{id}}Div">{{caption}}</li>
			{{/tabs}}
		</ul>
	</div>
</div>
<div class="fixedHeight170Scroll width100Pct">
	{{#tabs}}
		<div class="tabDiv" {{#if @first}}{{else}}style="display: none;"{{/if}} id="{{id}}Div"></div>
	{{/tabs}}
</div>
