<div class="modal fade centerModal" id="{{modalId}}" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="width: 1000px; max-width: 100%;">
		<!-- Modal content -->
		<div class="modal-content">
			<div style="height: auto !important;" class="modal-header menuBar shadow-z-2">
				<div class="modal-title">{{chartName}}</div>
				<button type="button" class="close pullRight" data-dismiss="modal" style="width: 10px !important;">&times;</button>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col flexDisplay">
						<div class="legendItem population"></div>
						{{>graphics.pattern emptyPattern}}
					</div>
				</div>
				<div class="row">
					<div class="col flexDisplay">
						<div class="legendItem subgroup"></div>
						{{>graphics.pattern pattern}}
					</div>
				</div>
				<div class="row">
					<div class="col flexDisplay">
						{{#if type}}
							{{#equal type "file"}}
								<img class="largeChart" src="{{data}}"></img>
							{{/equal}}
							{{#equal type "Circular pattern dissection"}}
								<div class="circular-pattern-dissection" data-patterns="{{json data}}" data-height="480">
								</div>
							{{/equal}}
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		<!-- End modal content -->  
	</div>
</div>
