<div class="modal fade centerModal" id="{{modalId}}" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="width: 1000px; max-width: 100%;">
		<!-- Modal content -->
		<div class="modal-content">
			<div style="height: auto !important;" class="modal-header menuBar shadow-z-2">
				<div class="modal-title">Pattern information for {{info.id}}</div>
				<button type="button" class="close pullRight" data-dismiss="modal" style="width: 10px !important;">&times;</button>
			</div>
			<div class="container-fluid">
				<div class="modal-body">
					<div class="container-fluid" style="height: 600px; width: 100%; overflow: scroll;">
						<div class="row">
							{{#each info.visualizations}}
							<div class="col-md-6">
								<div class="padded">
									<div class="boxed myshadow">
										<div class="container-fluid">
											<div class="row boxTitle">
												<div class="col">
													<span class="title">
													{{capitalizeFirst type}}
													</span>
												</div>
											</div>
											<div class="row padded">
												<div class="{{type}}">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal content -->  
	</div>
</div>
