<table class="previewTable">
	<thead>
		<tr>
			{{#each attributes}}
				{{#if this.active}}
					<th>
						{{this.caption}}
					</th>
				{{/if}}
			{{/each}}
		</tr>
		<tr>
			{{#each attributes}}
				{{#if this.active}}
					<th>
						{{this.type}}
					</th>
				{{/if}}
			{{/each}}
		</tr>
		<tr>
			{{#each attributes}}
				{{#if this.active}}
					<th>
						{{#equal this.icon "empty"}}
							<i>No Icon</i>
						{{else}}
							<i class="{{this.icon}}"></i>
						{{/equal}}
					</th>
				{{/if}}
			{{/each}}		
		</tr>
		<tr>
			{{#each attributes}}
				{{#equal this.type "METRIC"}}
					<th>
						<select class="chosen-select sDiscretization">
							<option value="DEFAULT">Default</option>
							<option value="EQUIDISTANT">Equi-distant</option>
							<option value="EQUIFREQUENT">Equi-frequent</option>
							<option value="CLUSTERING">Clustering based</option>
							<option value="FIXED_INTERVALS">Fixed intervals</option>
						</select>
						<br>
						<div class="bins" style="display: none;">
							Bins:
							<br>
							<input type="number" value="5" step="1" min="2" autocomplete="off">
						</div>
						<div class="cutOff" style="display: none;">
							Cut-off points:
							<br>
							<select class="chosen-select">
								<option value="2">2</option>
								<option value="4">4</option>
								<option value="6">6</option>
								<option value="8">8</option>
								<option value="10">10</option>
								<option value="12">12</option>
								<option value="14">14</option>
								<option value="16">16</option>
								<option value="18">18</option>
								<option value="20">20</option>
							</select>
						</div>
						<div class="intervals" style="display: none;">
							Comma-separated intervals:
							<br>
							<input type="text" autocomplete="off">
						</div>
					</th>
				{{else}}
					{{#equal this.type "DATE"}}
						<th>
							<label><input type="checkbox" name="YEAR_MONTH_DATE_HOUR" checked="checked">Year, Month, Date, Hour</label>
							<br>
							<label><input type="checkbox" name="MONTH">Month</label>
							<br>
							<label><input type="checkbox" name="DAY_OF_WEEK">Day of the week</label>
							<br>
							<label><input type="checkbox" name="DAY_OF_MONTH">Day of the month</label>
							<br>
							<label><input type="checkbox" name="DAY_OF_YEAR">Day of the year</label>
							<br>
							<label><input type="checkbox" name="IS_WEEKDAY">Is weekday?</label>
						</th>
					{{else}}
						<th></th>
					{{/equal}}
				{{/equal}}
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each rows}}
			<tr>
				{{#each this}}
					<td>{{this}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>
