<table class="previewTable">
	<thead>
		<tr>
			{{#each attributes}}
				{{#if this.active}}
					<th>
						{{this.caption}}
						<br>
						{{this.type}}
						<br>
						{{#equal this.icon "empty"}}
							<i>No Icon</i>
						{{else}}
							<i class="{{this.icon}}"></i>
						{{/equal}}
					</th>
				{{/if}}
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each rows}}
			<tr>
				{{#each this}}
					<td>{{this}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>
