<div class="pageLinks centeredText">
	<i class="fa fa-angle-double-left menuIcon" {{#equal firstPage ""}}{{else}}href="{{firstPage}}"{{/equal}}></i>
	<i class="fa fa-angle-left menuIcon" {{#equal prevPage ""}}{{else}}href="{{prevPage}}"{{/equal}}></i>
	{{pageNumber}} / {{totalPages}}
	<i class="fa fa-angle-right menuIcon" {{#equal nextPage ""}}{{else}}href="{{nextPage}}"{{/equal}}></i>
	<i class="fa fa-angle-double-right menuIcon" {{#equal lastPage ""}}{{else}}href="{{lastPage}}"{{/equal}}></i>
</div>
