<div class="menu menuBar subMenuBar">
	<div class="fixedWidth350 tableCell centeredText">
		<ul id="buildElementTypeOptions">
			{{#each this}}
				<li class="optionSpan {{#if selected}}selected{{/if}}" id="{{id}}" type="{{type}}">{{caption}}</li>
			{{/each}}
			<li class="optionSpan pullRight">
				<div class="loader" id="sourceDockLoader"></div>
			</li>
		</ul>
	</div>
</div>
