{{#elements}}
	<div class="row buildElement" type="attribute" id="{{id}}">
		<div class="col-md-1 showOnParentHover">
			<i class="fa fa-arrows-alt"></i>
		</div>
		<div class="col-md-10">
			<div class="subTitle">{{name}}</div>
			<div>{{type}}</div>
		</div>
		<div class="col-md-1 inspectAttribute showOnParentHover">
			<i class="material-icons">search</i>
		</div>
	</div>
{{/elements}}
