<table class="tablesorter subContent sourceDockTable">
	<thead>
		<tr>
			<th data-sorter="false" data-placeholder="e.g., attribute 1">Attribute</th>
			<th data-sorter="false" data-placeholder="e.g., value">Value</th>
			<th data-sorter="false" data-placeholder="e.g., < 100 and > 10">Score</th>
		</tr>
	</thead>
	<tbody>
		<tr class="height100Pct"></tr>
		<tr id="sourceDockNextLoader" style="height: 100%;"></tr>
	</tbody>
</table>
