{{#elements}}
	<div class="row buildElement" type="item" id="{{id}}" style="background: linear-gradient(90deg, rgb(255,168,168) {{pct}}%, white 0%);">
		<div class="col-md-1 showOnParentHover">
			<i class="fa fa-arrows-alt"></i>
		</div>
		<div class="col-md-4">{{attributeName}}<i class="{{attributeIcon}}"></i></div>
		<div class="col-md-4">{{propositionValue}}</div>
		<div class="col-md-3">{{formattedScore}}</div>
	</div>
{{/elements}}
