<table class="userTable">
	<thead>
		<tr>
			<th>Username</th>
			{{#each roles}}
				<th>
					{{this}}
				</th>
			{{/each}}
			<th>Enabled</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each users}}
			<tr data-ix="{{ix}}" data-enabled="{{editing_enabled}}">
				<td>{{userName}}</td>
				{{#each roles}}
					<td><input type="checkbox" {{#if this}}checked{{/if}}></td>
				{{/each}}
				<td><input type="checkbox" {{#if enabled}}checked{{/if}}></td>
				<td><button class="btn-outline-secondary saveButton"><i class="fa fa-save"></i></button></td>
				<td><button class="btn-outline-danger deleteButton"><i class="fa fa-trash"></i></button></td>
			</tr>
		{{/each}}
	</tbody>
</table>
