<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 data-label">Username</div>
		<div class="col-md-9">{{userName}}</div>
	</div>
	<div class="row">
		<div class="col-md-3 data-label">Password</div>
		<div class="col-md-9"><input class="form-control floating-label" type="password" id="password" placeholder="Type new password" /></div>
	</div>
	<div class="row">
		<div class="col-md-3 data-label">Password confirm</div>
		<div class="col-md-9"><input class="form-control floating-label" type="password" id="passwordConfirm" placeholder="Retype new password" /></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-3"><button class="btn-outline-secondary" id="cancelButton">Cancel</button></div>
		<div class="col-md-3"><button class="btn-outline-primary" id="saveButton">Save</button></div>
	</div>
</div>