<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-6">
				<button id="viewWorkspacesButton" class="btn-outline-secondary">View workspaces</button>
			</div>
			<div class="col-md-6">
				<button id="loadWorkspaceButton" class="btn-outline-secondary">Load workspace</button>
			</div>
		</div>
	</div>
</div>