<tr class="pattern width100Pct" vis="nok" patternIx="{{index}}" id="{{pattern.id}}">
	<td>
		<div class="showOnParentHover">
			<i class="fa fa-grip-lines patternDrag"></i>
		</div>
	</td>
	<td>
		<input type="checkbox">
	</td>
	<td>
		{{ix}}
	</td>
	<td>
		{{>graphics.pattern pattern}}
	</td>
	{{#each pattern.measurements}}
		<td>
			<span {{#equal this "NaN"}}style="color: lightgray;"{{/equal}}>{{this}}</span>
		</td>
	{{/each}}
	{{#each visualizations}}
		<td {{#equal name "CircularPatternDissectionVisualization"}}style="height:200px;"{{/equal}}>
			<div vis="{{name}}"></div>
		</td>
	{{/each}}
	<td>
		<div class="patternOptions showOnAncestorHover">
			<div><button class="btn btn-fab btn-fab-mini btnInfo inspectPatternButton"><i class="fa fa-search"></i></button></div>
			<!-- <div><button class="btn btn-fab btn-fab-mini btnSuccess conditionDataTableButton"><i class="material-icons">flip_to_front</i></button></div> -->
			<div><button class="btn btn-fab btn-fab-mini btnSuccess copyToClipboardButton"><i class="fa fa-clipboard"></i></button></div>
			<!-- <div><button class="btn btn-fab btn-fab-mini btnSuccess copyToNewWorksheetButton"><i class="fa fa-folder-plus"></i></button></div> -->
			<div><button class="btn btn-fab btn-fab-mini btnWarning deletePatternButton"><i class="fa fa-trash"></i></button></div>
		</div>
	</td>
</tr>