{{#if type}}
	{{#equal type "file"}}
		{{>ui.chartImage this}}
	{{/equal}}
	{{#equal type "Circular pattern dissection"}}
		{{>ui.chartCircularPatternDissection this}}
	{{/equal}}
{{else}}
	<span style="color: lightgray">N/A</span>
{{/if}}
