<tr>
	<th></th>
	<th>
		<span class="menuIcon pointerStyleCursor selectAllPatternsButton"><i class="far fa-check-square"></i></span>
		<span style="font-size: 20px;">/</span>
		<span class="menuIcon pointerStyleCursor deselectAllPatternsButton"><i class="far fa-square"></i></span>
	</th>
	<th>
	</th>
	<th>
		Pattern
	</th>
	{{#each measures}}
		<th data-measure="{{id}}">
			{{caption}}
			<span class="pointerStyleCursor" function="sort" order="DESCENDING" measure="{{id}}"><i class="fa fa-sort-amount-up"></i></span>
			<span class="pointerStyleCursor" function="sort" order="ASCENDING" measure="{{id}}"><i class="fa fa-sort-amount-down"></i></span>
			<span class="pointerStyleCursor" function="inspect"><i class="fa fa-chart-line"></i></span>
		</th>
	{{/each}}
	{{#each visualizations}}
		<th>
			{{caption}}
		</th>
	{{/each}}
	<th>
	</th>
</tr>
