<div class="menuBar subMenuBar">
	<div class="row no-gutters">
		<div class="col-md-8">
			<ul id="workDockMenu" class="sm sm-simple">
				<li id="patternDrivenPPMenu" class="hoveringMenuItem hide-sub-arrow">
					<a>
						<span>
							<i class="material-icons menuIcon">menu</i>
						</span>
					</a>
				</li>
				<li id="undo" class="hoveringMenuItem" data-placement="bottom" data-trigger="hover" data-toggle="popover" data-content="Undo">
					<a>
						<span>
							<i class="material-icons menuIcon">undo</i>
						</span>
					</a>
				</li>
				<li id="redo" class="hoveringMenuItem" data-placement="bottom" data-trigger="hover" data-toggle="popover" data-content="Redo">
					<a>
						<span>
							<i class="material-icons menuIcon">redo</i>
						</span>
					</a>
				</li>
				<li id="deletePatterns" class="hoveringMenuItem" data-placement="bottom" data-trigger="hover" data-toggle="popover" data-content="Delete selected patterns">
					<a>
						<span>
							<i class="material-icons menuIcon">delete</i>
						</span>
					</a>
				</li>
				<li class="hoveringMenuItem" data-placement="bottom" data-trigger="hover" data-toggle="popover" data-content="Add source dock elements as singleton?">
					<a>
						<label>
							<input id="addIndividualCheckbox" type="checkbox" checked="checked">
							Add as singleton?
						</label>
					</a>
				</li>
				<li id="downloadPatterns" class="hoveringMenuItem" data-placement="bottom" data-trigger="hover" data-toggle="popover" data-content="Download">
					<a>
						<span class="menuIcon">
							<i class="material-icons">file_download</i>
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
				<li class="optionSpan pullRight">
					<div class="loader"></div>
				</li>
				<li id="refreshPatterns" class="optionSpan hoveringMenuItem pullRight">
					<i class="material-icons menuIcon">refresh</i>
				</li>
				<li id="workDockPageLinks" class="optionSpan pullRight">
				</li>
			</ul>
		</div>
	</div>
</div>