<div class="droppable-workdock" id="WorkDock">
	<div id="workDockWrapper" class="width100Pct height100Pct"  style="overflow-y: scroll;">
		<table id="workDockTable" class="workDockTable">
			<thead class="head">
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody class="body">
			</tbody>
		</table>
	</div>
</div>
