{{#each this}}
	<div class="col-md-6 padded" workspaceId="{{workspaceId}}">
		<div class="container-fluid boxed shadowhover">
			<div class="row">
				<div class="col-sm-4">Name:</div>
				<div class="col-sm-8">{{caption}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4">Description:</div>
				<div class="col-sm-8">{{description}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4">Worksheet Count:</div>
				<div class="col-sm-8">{{worksheets.length}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-xl-4 padded"><button class="btn-outline-secondary" id="workspaceLoad">Load</button></div>
				<div class="col-xl-4 padded"><button class="btn-outline-danger" id="workspaceDelete"><i class="fa fa-trash"></i></button></div>
			</div>
		</div>
	</div>
{{/each}}
